doctype html
html
  head
    title MyFiles APP
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/myFile.js')
  body
    block content
