extends layout
block content
  .w3-container
    .w3-card-4
      header.w3-container.w3-blue
        h1 CLAV: Classificação e Avaliação da Informação Pública
      .w3-container
        h2 Classes de Nivel 1
        table.w3-table-all
          tr
            th Código
            th Titulo
          each c in dados
            tr
              td 
                a(href= '/classe/'+ c.codigo)= c.codigo
              td= c.titulo
      footer
            a(href="/") Página Inicial
